#hubspotForm {
    width: 100vw;
    height: 100%;
    color:white;
    padding: 3rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
    gap: 1rem;
    line-height: 5vh;
  }
  
#hubspotForm input {
    background-color: transparent; 
    color:white;
    border: 1px solid rgba(125, 204, 161, 1);
    box-shadow: none;
    padding: 0.5rem;
    font-family: unset;
    width: 80vw;
    border-radius: 10px;
  }

  #hubspotForm input[type="number"] {
    width: 10vw;
}

#hubSpotForm button{
  background-color: rgba(125, 204, 161, 1);
  border: 1px solid rgba(125, 204, 161, 1);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: unset;
}

#verifierterms{
    background-color: red;
}
#hubSpotForm button:hover{
  background-color: white;
  color: rgba(125, 204, 161, 1);
  border-radius: 0;
}
#hubspotForm textarea {
  background-color: transparent; 
  color:white;
  border: 1px solid rgba(125, 204, 161, 1);
  box-shadow: none;
  padding: 0.5rem;
  font-family: unset;
  width: 80vw;
  border-radius: 10px;
}

#hubspotForm .firstname {
    color: red;
}